In [1]:
from pymongo import MongoClient
conn = "mongodb://admin:mymdb$1234@localhost:27017"
client = MongoClient(conn)
dbs = client.list_database_names()
print(dbs)

['admin', 'config', 'local', 'mytest', 'unit02db']

In [4]:
db = client["unit02db"]
collections = db.list_collection_names()
print(collections)

['myData', 'stuData']

In [3]:
collection = db.create_collection("myData")

In [12]:
def show_all():
    items = db.myData.find()
    for item in items:
        print(item)

In [14]:
db.myData.insert_one({"name":"曾大頭", "age":21})
show_all()

{'_id': ObjectId('66c9379fc63fa36e191f26c0'), 'name': '何敏煌', 'age': 29}
{'_id': ObjectId('66c937c4c63fa36e191f26c1'), 'name': '李大明', 'age': 42}
{'_id': ObjectId('66c9382ac63fa36e191f26c2'), 'name': '王小花', 'age': 18}
{'_id': ObjectId('66c9384bc63fa36e191f26c3'), 'name': '曾大頭', 'age': 21}

In [15]:
data = [
    {"name":"李白", "age":56},
    {"name":"李牧", "age":72},
    {"name":"杜牧", "age":42},
    {"name":"杜甫", "age":18}
]
db.myData.insert_many(data)
show_all()

{'_id': ObjectId('66c9379fc63fa36e191f26c0'), 'name': '何敏煌', 'age': 29}
{'_id': ObjectId('66c937c4c63fa36e191f26c1'), 'name': '李大明', 'age': 42}
{'_id': ObjectId('66c9382ac63fa36e191f26c2'), 'name': '王小花', 'age': 18}
{'_id': ObjectId('66c9384bc63fa36e191f26c3'), 'name': '曾大頭', 'age': 21}
{'_id': ObjectId('66c938d7c63fa36e191f26c4'), 'name': '李白', 'age': 56}
{'_id': ObjectId('66c938d7c63fa36e191f26c5'), 'name': '李牧', 'age': 72}
{'_id': ObjectId('66c938d7c63fa36e191f26c6'), 'name': '杜牧', 'age': 42}
{'_id': ObjectId('66c938d7c63fa36e191f26c7'), 'name': '杜甫', 'age': 18}

爬取完成並輸出為 JSON 格式！